body {
  overflow-x: hidden;
  font-family: "Lato", "Open Sans", sans-serif;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #1cbd72;
}
p {
  font-size: 14px;
  line-height: 1.75;
  font-weight: 300;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #1cbd72;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #159157;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 700;
}
h1 {
  padding-top: 50px ;
}
table {
  font-family: "Lato", "Open Sans", sans-serif;
  font-weight: 300;
}
.table-h1 {
  font-weight: bold;
  color: #1cbd72;
}
.table-h2 {
  font-weight: bold;
  color: #222222;
}
.table-h3 {
  color: #ccc;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
  /* or 950px */
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: #ffffff;
  background-color: #1cbd72;
  border-color: #1cbd72;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 300;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #159157;
  border-color: #148852;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #1cbd72;
  border-color: #1cbd72;
}
.btn-primary .badge {
  color: #1cbd72;
  background-color: #ffffff;
}
.btn-xl {
  color: #ffffff;
  background-color: #1cbd72;
  border-color: #1cbd72;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 700;
  border-radius: 8px;
  font-size: 18px;
  padding: 12px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #ffffff;
  background-color: #159157;
  border-color: #148852;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #1cbd72;
  border-color: #1cbd72;
}
.btn-xl .badge {
  color: #1cbd72;
  background-color: #ffffff;
}
.navbar-default {
  background-color: #222222;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #1cbd72;
  font-family: "Nothing You Could Do", "Lato", "Open Sans", sans-serif;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #159157;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #1cbd72;
  border-color: #1cbd72;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1cbd72;
}
.navbar-default .nav li a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #1cbd72;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #1cbd72;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #159157;
}
/* TRANSITION CODE
@media(min-width:768px) {
    .navbar-default {
    	background-color: @gray-darkest;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
	    .navbar-brand {
	        font-size: 2em;
	        -webkit-transition: all 0.3s;
	        -moz-transition: all 0.3s;
	        transition: all 0.3s;
	    }
		.navbar-nav>.active>a {
			border-radius: 3px;
		}
    }
    .navbar-default.navbar-shrink {
    	background-color: @gray-darkest;
        padding: 10px 0;
		.navbar-brand {
	        font-size: 1.5em;
	    }    
	}
}
*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/header-lights-narrow.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Lato", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 100 ;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Lato", "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 100 ;
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 100px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Lato", "Open Sans", sans-serif;
  text-transform: none;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 50px 0;
  }
}
footer {
  padding: 25px 0;
  text-align: center;
  background-color: #222222;
  color: #f7f7f7;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #f7f7f7;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #1cbd72;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
::-moz-selection {
  text-shadow: none;
  background: #1cbd72;
}
::selection {
  text-shadow: none;
  background: #1cbd72;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #1cbd72;
}
.media-heading {
  font-size: 18px;
  font-weight: 300;
}
.media-subheading {
  font-size: 14px;
  font-weight: 300;
  color: #a2a2a2;
}
.media-list-heading {
  margin-top: 0px ;
}
span.publication:hover i.fa-square {
  color: #159157;
}
.button-spaced {
  margin-top: 20 ;
}
.divider {
  margin-top: 40px ;
}
.about-list {
  font-family: "Lato", "Open Sans", sans-serif;
  font-weight: 300;
}
.fa-a:before {
  font-family: "Lato";
  /* your font family here! */
  font-weight: bold;
  content: 'RG';
}
.h1-title-heavy {
  color: #1cbd72;
}
.h1-title-light {
  font-family: "Lato";
  font-weight: 300;
  color: #222222;
}
