// Variables

// @brand-primary: #6A8DAB ;
// @brand-primary: #FFDA4D ;
// @brand-primary: #48e537 ;
// @brand-primary: #1cbda2 ;
@brand-primary: #1CBD72 ;
@brand-danger: #e74c3c;
@brand-blue: #0091AD;
@brand-yellow: #F6AA1C;
@gray-darkest: #222;
@gray: #777;
@gray-lighter: #f7f7f7;
@highlight-text-color: #f7f7f7;
@placeholder-text: #bbbbbb;
@image-darkener: 0.4;
@bg-image: '../img/green_bulb.jpg';

@breakpoint: 500px; //767, 768

// Portfolio
@portfolio-height: 150px;